.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
	text-decoration: none;

	@include mobile {
		align-items: flex-start;
	}
	
	&:hover > &__title {
		color: $main-light;
	}

    &__title {
        font-size: 2rem;
        line-height: 1;
        font-weight: bold;
		color: $main;
		transition: color $transition-duration;
		white-space: nowrap;

		@include mobile {
			font-size: 1.5rem;
		}
    }

    &__subtitle {
        font-size: 1rem;
        line-height: 1;
        font-weight: 300;
		color: $black;
		white-space: nowrap;

		@include mobile {
			font-size: 0.75rem;
		}
    }
}
