@import "normalize";
@import "variables";
@import "mixins";
@import "animations";

@import "ui/input";
@import "ui/button";
@import "ui/textarea";
@import "ui/checkbox";

@import "components/layout";
@import "components/container";
@import "components/header";
@import "components/logo";
@import "components/navigation";
@import "components/main";
@import "components/form";
@import "components/footer";
@import "components/attention";
@import "components/loader";
@import "components/login";
@import "components/not-found";
@import "components/task-list";
@import "components/task-form";
@import "components/task";
@import "components/result";
@import "components/message";
@import "components/calendar";

body {
	font-family: "Roboto", sans-serif;
}

* {
	box-sizing: border-box;
}

.visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;

	white-space: nowrap;

	border: 0;

	clip: rect(0 0 0 0);
	clip-path: inset(100%);
}
